/* login.module.css */
.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginTitle {
  margin-top: 5vh;
  font-size: 25px;
  font-weight: 700;
}

.formContainer {
  font-size: 20px;
  font-weight: 500;
  margin-top: 4vh;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form input {
  width: 100%;
  height: 27px;
  margin-bottom: 5px;
  font-size: 17px;
  border-radius: 5px;
}

.form input:last-child {
  margin-bottom: 10px;
}

.loginButton {
  height: 30px;
  font-size: 17px;
  font-weight: 700;
  border: 1px solid #c76ea5;
  background-color: #fff;
  border-radius: 5px;
}
